
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    width: 12%;
    padding: 15px;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

#currentDay {
    background: yellow;
}